
@import "colors";

@mixin heightWidth($property,$value) {
	height:$property;
	width:$value;
}
	
@mixin fontSize ($property,$value){
	font-size: $property;
	font-weight: $value;
}

@mixin setProperty($property:40px,$value:500){
	font-size: $property;
	font-weight: $value;
}

@mixin outline($property,$color) {
	outline-width: $property;
	outline-color: $color;
}

@mixin padding ($property) {
	padding:$property;
}

@mixin mediaQuery1{
	float: none; 
	width: 100%;
}
	




@media only screen and (min-width: 600px) and (max-width: 1000px) {
	body {
		color:$black;
		font-size: 15px;	
	}
	
	.backgound_image {
		background-image:linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)),  url("../Images/hero-bg.jpg") ;
		color:white;
		height: 500px;
	}
	
	.cards { 
	display: block;
	text-align: center;
	font-size: medium;
	margin: 30px;
	}
	
	.cards:hover {
	@include outline(2px,$red);
  outline-style:double;
	}
	
	.cards1 {
	display: block;
	text-align: center;
	margin: auto;
	padding: 30px;
}
	
	.cards1:hover {
	@include outline(thin,$red);
	outline-style: double ;
}

	.card_text {
	text-align:center;
	margin: auto;
	padding: 20px;
	}
	
	.first_text {
	@include padding(30px);
	text-align: center;
	}
	
	.card_text1 {
		text-align: center;
		padding: 20px;
	}
	
	
	.heading {
		display:inline-block;
		color:$white;
	}
	
	#image10 {
		text-align: center;
		width: 80%;
		margin: 10%;
	}
	
	#image10:hover {
		@include outline(thin,$red);
		outline-style: double ;
	}
	
	#image11 {
		text-align: center;
		width: 80%;
		margin: 10%;
	}
	
	#image12 {
		text-align: center;
		width: 80%;
		margin: 10%;
	}
	
	.footer_navbar {
		display:block;
	}
	
	.footer_details {
		display: inline-block;
		width: 24%;
	}
	
	
	.top_nav_bar {
		display: inline;
		list-style-type: none;
		margin: 0;
		@include padding(0);
		overflow: hidden;
	}
	
	li.top_bar {
		color: $white;
		float: right;
		@include padding(20px);
	}
}

@media only screen and (min-width: 1200px){
	body {
		background-repeat: no-repeat;
		color:black;
}	

.backgound_image {
	background-image:linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)),  url("../Images/hero-bg.jpg") ;
	color:white;
	height: 500px; 
}

.cards { 
	display:inline-block ;
	height: 230px;
	width: 20%;
	margin: 40px;
	margin-bottom: 90px;
	// width: 200px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	text-align: center;
	font-size: medium;
	// margin: 50px;       
}

.cards:hover {
	outline: thin red;
	outline-style: double ;
}

.cards1 {
	width: 44%;
	height: 250px;
	display: inline-block;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	text-align: left;
	padding: 37px 30px;
			
}
.cards1:hover {
	outline: thin red;
	outline-style: double ;
}
.card_text {
	font-size: large;
	padding: 30px;
	padding-bottom: 230px;
}

.first_text {
	padding: 40px 20px;
	text-align: center
}

.card_text1 {
	padding: 110px 0px 500px 0px;
	text-align: right;
}

.card_text2 {
	padding: 230px 10px 180px 10px;
	text-align: center;
}

.heading {
	display:inline-block;
	color:white;
}

#image10 {
	width: 50%;
	float: left;
	padding: 20px;
	// padding:30px;
}
#image10:hover {
	outline: thin red;
	outline-style: double ;
}
#image11 {
	float: left;
	width: 50%;
	// height:400px;
	// width: 500px;
	padding:20px;

}

#image12 {
	float: right;
	width: 50%;
	padding:0px 10px;
}

.footer_navbar {
	display:block;
}

.footer_details {
	display: inline-block;
	width: 24%;
}


.top_nav_bar {
 display: block;   
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.top_bar {
	display: block;
	color: white;
	float: right;
	padding:20px;
}
}

